@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1837px;
  width: 93.5%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header .wrapper { padding: 40px 0px 25px; }

.logo a{
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #616DD0;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.banner {
  border-top: 1.5px solid #B7B7B7;
  border-bottom: 1.5px solid #B7B7B7;
}

.banner .wrapper { 
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-content { 
  width: 66%;
  padding: 40px 0 38px 3%;
  box-sizing: border-box;
}

.banner-content h2 {
  font-size: 35px;
  font-weight: bold;
  color: #616DD0;
}

.locate { 
  display: block;
  font-size: 26px;
  font-weight: normal;
 }

.banner-link { 
  margin: 21px 0;
  padding-right: 15%;
}

.banner-link a {
  font-size: 30px;
  color: #616DD0;
}

.banner-content p {
  margin-bottom: 30px;
  padding-right: 18%;
  font-size: 22px;
  color: #777777;
  line-height: 32px;
} 

.banner-content p a { color: #44C79D;}

.banner-btn a {
  padding: 15px 5%;
  border-radius: 4px;
  margin-right: 20px;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  background-color: #44C79D;
}

.banner-slider { 
  padding: 114px 0;
  width: 32%;
  text-align: center;
  color: #fff;
  background-color: #616DD0;
}

.slide { display: none; }

.slide:first-child {
  display: block;
}

.slide p {
  padding: 0px 23%;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: 1px;
}

.midspan { 
  display: block;
  position: relative;
  font-size: 22px;
}

.midspan::after,
.midspan::before {
  content: '';
  width: 20%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.midspan::after { left: 55%; }
.midspan::before { right: 55%; }

.slide-icon span { position: relative; }

.slide-icon span::after {
  content: '\f183';
  margin: 0px 7px;
  font-family: fontAwesome;
  color: #fff;
  font-size: 30px;
}

.slide-icon { margin: 15px 0; }

/* Insiders section start */

h3 {
  margin: 43px 0;
  color: #616DD0;
  font-size: 40px;
  font-weight: bold;
}

.insiders { border-bottom: 1.5px solid #B7B7B7; }
.insiders .wrapper { padding: 45px 0; }

.insider-card {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.insider-card li { 
  width: 25%;
  margin: 15px 0;
  box-sizing: border-box;
  text-align: center;
}

.insider-card figure { 
  width: 65%;
  margin: 0 auto;
}

.insider-card h4 {
  padding: 0 5%;
  margin: 20px 0 15px;
  color: #44C79D;
  font-size: 25px;
  font-weight: bold;
}

.insider-card p {
  font-size: 17px;
  padding: 0 18%;
  color: #797979;
}

.title {
  display: block;
  font-size: 20px;
  padding: 0 18%;
  color: #797979;
  font-weight: bold;
}

.rating { margin: 15px 0; }
.rating span { position: relative; }

.rating span::after {
  content: '\f005';
  margin: 0px 5px;
  font-size: 21px;
  font-family: fontAwesome;
  color: #616DD0;
}

/* Insiders section end */

/* work section start */
.work { border-bottom: 1.5px solid #B7B7B7; }

.work .wrapper { padding-bottom: 43px; }
.worklist {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.worklist li { flex-basis: 28%; }

.worklist li div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  background-color: #616DD0;
}

.worklist li div::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 45px;
  font-family: fontAwesome;
  color: #fff;
}

.searchicon::after { content: '\f002'; }
.scheduleicon::after { content: '\f073'; }
.engageicon::after { content: '\f086'; }

.worklist li div span {
  text-indent: -99999px;
  float: left;
}

.worklist li h5 {
  margin: 22px 0 15px;
  font-size: 29px;
  font-weight: bold;
  color: #777777;
}

.worklist li p{ 
  padding: 0 10px;
  font-size: 21px;
  line-height: 28px;
  color: #797979;
 }
/* work section end */

/* Testimonial start */

.testimonial { 
  color: #fff;
  background-color: #616DD0;
 }

.testimonial .wrapper { padding: 20px 0 40px; }

.testimonial h3 { color: #fff; }

.testimonial-slide { 
  display: none;
  box-sizing: border-box;
}

.testimonial-slide:first-child {
  display: block;
}

.testimonial-slide p {
  padding: 0 5%;
  font-size: 22px;
  text-align: center;
}
/* Testimonial end */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  